//Post card button styles

.card-button {
  gap: 10px;

  &__inner {
    border: none;
    background-color: transparent;
    color: $color-gray-medium;
    // font-size: 0.9rem;
  }
}

.btn-heart {
  color: grey;
  padding: 0px;

  &__icon {
    width: 30px;
    height: 30px;
    padding: 5px;
    margin-right: 5px;
  }

  &:hover &__icon {
    background-color: #ff454557;
    border-radius: $border-radius;
  }

  &:hover {
    color: $color-danger-bright;
  }
}

.btn-comment {
  color: grey;
  padding: 0px;

  &__icon {
    width: 30px;
    height: 30px;
    padding: 5px;
    margin-right: 5px;
  }

  &:hover &__icon {
    background-color: #ddfe6560;
    border-radius: $border-radius;
  }

  &:hover {
    color: $color-green;
  }
}

.btn-options {
  padding: 0px;
  display: flex;
  color: $color-gray-medium;

  &::after {
    display: none;
  }
}

//Bootstrap override

.btn-link {
  text-decoration: none;
}
