* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  height: 100vh;
  font-size: calc(13px + 0.2vw);
}
main {
  overflow-y: auto;
}
ul {
  padding: 0px;
  list-style: none;
  margin-bottom: 0px;
}

//flex layout

.sidebar {
  flex: 2;
  @media (max-width: 700px) {
    flex: 0;
  }
}
.profile-card-container {
  flex: 2;

  @media (max-width: 700px) {
    display: none;
  }
}
.wrapper {
  display: flex;
  height: 100vh;

  @media (max-width: 500px) {
    flex-direction: column-reverse;
  }
}

//main center section of site

.main-content {
  flex: 5;

  &__heading {
    background-color: $color-grey-vary-dark-transparent;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
  }
}
