.modal-header {
  border-bottom: 0px;
}

.modal-footer {
  border-top: 0px;
}

.form {
  &-create-button {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}

// comment modal

.comment-modal {
  border: 0px;
}
