.user-body {
  position: relative;

  &__banner {
    background-color: $color-grey-vary-dark;
    height: 128px;
    width: 100%;
    border-radius: 4px 4px 0px 0px;
    margin-bottom: 3rem;

    &-item {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__avatar {
    position: absolute;
    top: 110px;
    background-color: $color-grey-vary-dark;
    border: 3px solid $color-gray-dark;
    height: 64px;
    width: 64px;
    border-radius: $border-radius;

    &-item {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__email {
    color: $color-gray-medium;
  }

  &__data {
    &-item {
      width: 55px;

      &_number {
        font-size: 1.3rem;
        font-weight: 600;
      }
    }
  }
}
